<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h1>TÍTULO</h1>
    <h2>subtitulo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at dui nisl. 
        Vestibulum id scelerisque ante. Suspendisse viverra placerat urna, sed hendrerit arcu malesuada vel. 
        Proin congue, sapien vel congue ornare, odio sem interdum augue, in pretium quam libero sed sem. 
        Mauris commodo a risus sit amet congue. Vivamus porta diam a convallis tristique. 
        Integer accumsan ex vel mi rhoncus, eget sodales ante lacinia. 
        Praesent eu erat tristique, mollis metus ut, semper lectus. 
        Donec pretium, neque ac faucibus lacinia, odio augue tempus libero, eget rhoncus nisi urna in arcu.</p>

        <img src="/images/image01.jpeg">
</body>
</html>